@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}

.app {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.calculator {
background-color: #1e2946;
width: 100%;
max-width: 375px;
min-height: 640px;
display: flex;
flex-direction: column;
border-radius: 1.5rem;
overflow: hidden;
}

.display {
min-height: 200px;
padding: 1.5rem;
display: flex;
justify-content: flex-end;
align-items: flex-end;
color: white;
text-align: right;
flex: 1 1 0%;
}

.display .content {
display: flex;
flex-direction: column;
justify-content: flex-end;
width: 100%;
max-width: 100%;
overflow: auto;
}

.display .input {
width: 100%;
font-size: 1.25rem;
margin-bottom: 0.5rem;
}

.display .output {
font-size: 3rem;
font-weight: 700;
width: 100%;
white-space: nowrap;
}

.display .operator {
color: #EB6666;
}

.display .brackets,
.display .percent {
color: #00ffa6;
}

.keys {
background-color: #292D36;
padding: 1.5rem;
border-radius: 1.5rem 1.5rem 0 0;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-gap: 1rem;
box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.2);
}

.keys .key {
position: relative;
cursor: pointer;

display: block;
height: 0;
padding-top: 100%;
background-color: #262933;
border-radius: 1rem;
transition: 0.2s;
-webkit-user-select: none;
user-select: none;
}

.keys .key span {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

font-size: 2rem;
font-weight: 700;
color: #FFF;
}

.keys .key:hover {
box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.keys .key.operator span {
color: #EB6666;
}

.keys .key.action span {
color: #00ffcc;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header{
    margin-top: 20px;
    position: flex;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

h2{
    font-size: 2.5rem;
    font-weight: 600;
    color: #b74b4b;
    margin: auto;
    text-align: center;
}
p{
    font-size: 1.6rem;
    font-weight: 500;
    color: #ffffff;
    margin: 1rem 0;
    text-align: center;
}
.logo{
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74b4b;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sidebar {
    width: 25%;
    margin-right: 20px;
}

.sidebar img {
    width: 100%;
    height: auto;
}

.content {
    width: 70%;
}

.article {
    margin-bottom: 20px;
}

.article img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

footer {
    background: #000000;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.animated-ad {
    width: 100%;
    max-width: 500px; /* Adjust size as needed */
}

/* Media queries for responsiveness */
@media (max-width: 1024px) {
    main {
        flex-direction: column;
    }
    .sidebar {
        width: 100%;
        margin: 0 0 20px 0;
    }
    .content {
        width: 100%;
    }
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    header {
        text-align: center;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        margin: 10px 0;
    }
    main {
        padding: 0 10px;
    }
    footer {
        padding: 10px 0;
    }
}
